.Bootstrap-body {
    /* margin: 50px; */
    line-height: 230%;
    
}
/* 

.come-in {
    -webkit-transform: translateY(150px);
    -ms-transform: translateY(150px);
    transform: translateY(150px);
    -webkit-animation: come-in 0.8s ease forwards;
    animation: come-in 0.8s ease forwards;
}

.come-in:nth-child(odd) {
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
}

.already-visible {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation: none;
    animation: none;
} */

.summaried-class {
    display: none;
}

.note-content{
    width: 100vh;
}
.note-content.centered {
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; */
    margin: 50px 2px 2px 100px;
    width: 100vh;
}

.btn-primary.summarize {
    background-color: #31708f;
    border-radius: 2px;
    color: white;
    padding: 5px 30px;
    cursor: pointer;
}

.btn-primary.Edit {
    background-color: #31708f;
    border-radius: 2px;
    color: white;
    padding: 5px 30px;
    cursor: pointer;
    margin-left:18vh;
}
.btn-primary.generate {
    background-color: #31708f;
    border-radius: 2px;
    color: white;
    padding: 5px 30px;
    cursor: pointer;
    margin-left:30vh;
}

.btn-primary.save {
    background-color: #8a6d3b;
    border-radius: 2px;
    color: white;
    padding: 5px 30px;
    cursor: pointer;
    margin-left:6vh;
}


.panel-body p {
    font-family: Arial, sans-serif;
    /* font-size: 1.2rem; */
}


.panel-heading{
    padding-left:50px;
}

#container-fluid {
    display:block;
    margin: 10px 2px 2px 330px
}

/* @-webkit-keyframes come-in {
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes come-in {
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
} */