button{
    margin: 5em auto;
    padding: 1em 2.5em;
    background: #222;
    border: 1px solid #222;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
button:hover {
    background: transparent;
    color: #222;
}
.wrapper{
    margin-top:20%;
}
.Summary-container {
    /* padding-top:30em; */
    margin-right:20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.row.come-in {
    max-width: 60%; /* Adjust this value as needed */
    overflow-x: auto; /* Enable horizontal scrolling */
    padding: 20px; /* Optional: Add some padding */
    box-sizing: border-box; /* Ensure padding is included in the width */
    background-color: #f9f9f9; /* Optional: Add a background color */
    border: 1px solid #ccc; /* Optional: Add a border */
}
.button-container {
    display: flex;
    gap: 10px; /* Adds spacing between buttons */
    justify-content: space-between; /* Adjust as needed */
  }
  
  .button-container button {
    flex: 1; /* Optional: Makes buttons flexible, you can adjust or remove */
    margin: 5px; /* Adjusts spacing around individual buttons */
  }
  